# Environment (development | production)
APP_ENV=development

# Binance Testnet Credentials
BINANCE_API_KEY=your_testnet_api_key
BINANCE_SECRET_KEY=your_testnet_secret_key

# MongoDB Configuration
MONGO_URI=mongodb://admin:securepassword@mongodb:27017/
MONGO_DB_NAME=trading_bot

# Bot Configuration
SYMBOL=BTC/USDT
TIMEFRAME=1h
LEVERAGE=1
